# Dependencies
node_modules/
src/outputs
src/uploads
TESTAPI/downloads
npm-debug.log*
yarn-debug.log*
yarn-error.log*
browsers/chrome/*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Project specific
uploads/
processed/
screenshots/

